body {
  background: #363636;
}
p{
  color: #ffffff;
  text-align:center;
}
h1 {
  font-weight: bold;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.topnav{
  background-color: #ffffff;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: #363636;
}
.topnav a.active {
  background-color: #04AA6D;
  color: #ffffff;
}
