body {
  background: #403d3d;
}
p{
  color: #ffffff;
  text-align:center;
}
p1{
  color:#ffffff;
}
h1 {
  font-weight: bold;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.topnav {
  background-color: #333333;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
  font-size: 18px;
}
.topnav a:hover {
  background-color: #ddd;
  color: #000000;
}
.topnav a.active {
  background-color: #de9000;
  color: #ffffff;
}
.column {
  float: center;
  width: 20%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
